body {
    color: #000;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../Images/Yosemite.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-sm-6 {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 1vw 1vw 1vw;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
