# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
vendor/
.bundle/
Gemfile.lock
dev-server.sh

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
package-lock.json

Images/.DS_Store
node_modules/
