title: jeremy
name: jeremy
description: Personal website of jeremy (@ruhroh)
baseurl: ""
url: ""

# Build settings
markdown: kramdown
theme: jekyll-theme-minimal
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
