<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.css" media="screen">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/homepage.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/navbar.css" media="screen">
	<link rel="icon" type="image/x-icon" href="Images/favicon.ico">
	<script src="https://use.fontawesome.com/a383f72e20.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">

		{{ content }}

	</div><!-- /.container -->
	<footer class="site-footer">
		<span class="site-footer-owner">
			<a href="https://github.com/jeremyHi/jeremyHi">JeremyHi.us</a> is maintained by
			<a href="https://github.com/jeremyhi">Jeremy Hitchcock</a>.
		</span>
	</footer>
</body>

</html>